

/*-add-task-container-*/
.add-task-container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;

}
/*-topic*/

.header-container {
  display: flex;
  position: fixed;
  align-items: flex-end;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F6F7F8; 
  z-index: 10; 
  width: 100%;
  height: 180px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.task-topic {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}


.all-input-fields{
  margin-top: 230px;
  margin-bottom: 100px;
}

/*-topic-end*/
/*-title-*/

.red-asterisk {
  color: red;
}
textarea{
  margin-top: 8px;
  margin-bottom: 8px;
}
.input-task {
  margin-bottom: 32px;
  margin-top: 8px;
  font-size: 16px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 89%;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
}
.input-task::placeholder {
  color: rgb(209, 209, 209);
}
.input-task-description {
  margin-bottom: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 17px;
  height: 44px;
  width: 89%;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
  font-family: 'Inter', sans-serif;
}

.input-task-description::placeholder {
  color: rgb(209, 209, 209);
}
/*-title-END-*/
/*-priority-section-*/
.priority-buttons {
    margin-top: 8px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    width: 100%;
}

.priority-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 121px;
    height: 41px;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.priority-button:hover {
    background-color: #ff0000; 
    color: white;
}

#medium:hover {
    background-color: #ffa200; 
    color: white; 
}

#low:hover {
    background-color: #03c509fc; 
    color: white; 
}

.priority-button img {
    margin-left: 8px; 
}

.priority-button:hover img,
#medium:hover img,
#low:hover img {
    filter: brightness(0) invert(1);
}
/*-priority-section-END-*/
/* due-a-date-section*/
.input-task-date {
  margin-bottom: 32px;
  margin-top: 8px;
  font-size: 16px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 89%;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
}
/* due-a-date-section-END*/
/*category-selection*/


/*category-selection-END*/

.input-task-select {
  margin-top: 8px;
  margin-bottom: 32px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px; 
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
}