/*-add-task-container-*/


.content {
  margin: 130px 16px 30px 16px;
  height: 100vh;
}

.input-container {
  margin-top: 40px;
  box-sizing: border-box;
}


/*-topic*/

.header-container {
  display: flex;
  align-items: flex-end;
  background-color: #F6F7F8;
  margin-bottom: 38px;
}

.task-topic {
  margin-bottom: 30px;
}


/**********************************/
.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.add-task-form-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.add-task-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-task-title input {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  font-family: "Inter", sans-serif;
}

.add-task-border {
  display: none;
}

.add-task-title textarea {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  height: 60px;
  font-family: "Inter", sans-serif;
}

/**********************************/

/*-topic-end*/
/*-title-*/

.red-asterisk {
  color: red;
}

textarea {
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-task {
  margin-bottom: 32px;
  padding-left: 21px;
  margin-top: 8px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 93%;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
}

.input-task-description {
  padding-left: 21px;
  margin-bottom: 32px;
  padding-top: 18px;
  font-size: 17px;
  height: 44px;
  width: 93%;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
  font-family: 'Inter', sans-serif;
}

/*************** title-END            **************/
/*************** priority-section    ***************/
.priority-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.priority-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41px;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.priority-button:hover {
  background-color: #ff0000;
  color: white;
}

#medium:hover {
  background-color: #ffa200;
  color: white;
}

#low:hover {
  background-color: #03c509fc;
  color: white;
}

.priority-button img {
  margin-left: 8px;
}

.priority-button:hover img,
#medium:hover img,
#low:hover img {
  filter: brightness(0) invert(1);
}

/***************-priority-section-END     ***************/
/*************** due-a-date-section       ***************/
.input-task-date {
  display: flex;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  color: black;
}

/* due-a-date-section-END*/
/*category-selection*/

.input-task-select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 16px;
}

/***************category-selection-END    ***************/
/*************** Assigned to              ***************/

.assigned-input {
  display: flex;
  justify-content: end;
  align-items: center;
}

#user-select {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  height: 250px;
  margin-top: -5px;
}

.userColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px;
}

.userColumn:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 6px;
}

.user-select-active {
  color: white;
  background-color: #2a3647;
}

.user-select-active:hover {
  background-color: #161e29;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 14px;

}

.letter-icon {
  color: white;
  height: 20px;
  width: 20px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-arrow {
  position: fixed;
  margin-right: 10px;
  cursor: pointer;
}

.input-arrow:hover {
  background-color: lightgray;
  border-radius: 50%;
}

#selected-user {
  display: flex;
  gap: 12px;
}

.user-icon {
  color: white;
  height: 20px;
  width: 20px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*************** Subtask               **************/

.input-sub-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 16px;
  background-color: white;
  
}
.suffix {
  cursor: pointer;
}
.input-subtask {
  width: 100%;
  all: unset;
}
.subtask-container{
  margin-bottom: -17px;
  margin-top: -10px;
}


.actions {
  justify-content: flex-end;
  width: 100%;
}

.todo-item .actions {
  display: none;
}

#mylist {

}
#mylist li:hover .actions {
  display: flex;
}

.todo-item {
  
  display: flex;
  align-items: center;
  width: 100%;
}
#mylist li::before {
  content: "•";
  transform: translateY(-20%);
  margin-top: 8px;
  padding-left: 10px;
  margin-right: 10px;
}
#mylist li:hover {
  width: 100%;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

ul {
  margin-left: -40px;
}


/************** Subtask-End              ***************/


/*************** Create-task-button      ***************/
.create-task-container {
  background-color: #F6F7F8;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-bottom: 70px;
  bottom: 0px;
  left: 0;
  padding: 0 16px;
  box-sizing: border-box;
}

.button-create {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 183px;
  height: 56px;
  background-color: #2a3647;
  border-radius: 10px;
  text-decoration: none;
}


@media screen and (max-width: 800px) {}

/* Responsiv for laptop */
@media screen and (min-width: 800px) {
  .content {
    margin: 160px 0 0 310px;
    height: auto;
  }

  .add-task-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 90%;
  }

  .add-task-form-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .add-task-title {
    display: flex;
    gap: 6px;
  }

  .add-task-title input {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
  }

  .add-task-title textarea {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    height: 100px;
    font-family: "Inter", sans-serif;
  }

  .add-task-border {
    display: flex;
    height: 350px;
    width: 1px;
    background-color: rgb(209, 209, 209);
  }

  .create-task-container {
    width: 90%;
    padding-left: 310px;
    margin-top: 100px;
    margin-bottom: 0;
    position: absolute;
  }

  .priority-button.active {
    pointer-events: none;
    /* Deaktiviert das Klicken auf den Button */
    opacity: 0.5;
    /* Ändert die Opazität, um anzuzeigen, dass der Button deaktiviert ist */
  }

  .form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .button-clear {
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a3647;
    width: 120px;
    height: 56px;
    border: 1px solid #2a3647;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .button-clear:hover {
    color: var(--Ligth-blue);
    border: 1px solid var(--Ligth-blue);
  }

  .button-clear path {
    fill: #2a3647;
  }
}

.contact_list_snippet_box {
  display: flex;
  padding: 1px 1px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;
}

.initials_circle_contact_list {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
  font-size: 12px;
  border: 2px;
  border-style: solid;
  border-color: white;
}