
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.contacts_name{
    font-size: 18px;
}
.contacts_e-mail{
    color: rgb(0,124,238);
    font-size: 14px;
    margin-top: 5px;
}

.contact_list_snippet_box {
    
    display: flex;
    padding: 16px 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2px;
}

.initials_circle{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    color:white;
    font-size: 12px;
    
}
.contacts_list_box{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.letter_box{
    display: flex;
    align-items: center;
    border-bottom-color: rgb(209,209,209)!important;
    
    border-bottom: 1px solid;
    
    font-size: 20px;
    height: 60px;
}
.letter{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.add_contacts_button_box{
    position: fixed;
    bottom: 20px; 
    right: 20px;
}

.add_contacts_button{
    cursor: pointer;
    margin-right: 2px;
}
