/* HEADER */
header {
    display: flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0;
    z-index: 20;
}

.logo {
    width: 32px;
    height: 39px;
}

.user {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
}

/* MENU */
menu {
    display: flex;
    height: 80px;
    padding: 0px 16px;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.menu-tab {
    display: flex;
    width: 76px;
    height: 76px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
}

.menu-tab:hover {
    background-color: #091931;
}

.legal_notice_sidebar_screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.legal_notice_sidebar {
    padding: 10px;
    background-color: #2A3647;
    border-radius: 20px 0px 20px 20px;
    position: fixed;
    right: 9px;
    top: 62px;
    animation: move-from-right-to-screen 1000ms ease forwards;
}

.legal_notice_button {
    padding: 10px;
    color: rgb(205, 205, 205);
    cursor: pointer;
}


@keyframes move-from-right-to-screen {
    from {
        margin-right: -1500px;
    }

    to {
        margin-right: 0;
    }
}

@keyframes move-from-screen-to-right {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -1500px;
    }
}