/* Project Color */
:root {
    --white: #fff;
    --black: #000;
    --dark-blue: #2A3647;
    --Ligth-blue: #29ABE2;
    --background: #F6F7F8;
    --gray: #CDCDCD;
    --dark-gray: #A8A8A8;
}


/* Global styles */
body {
    margin: 0;
    background: var(--background);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.d-none {
    display: none;
}

h1 {
    color: var(--black);
    font-size: 47px;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

h3 {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

h4 {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

h5 {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.anchor-style {
    color: var(--black);
    text-decoration: none;
}

.legal_notice_sidebar-screen {
    position: absolute;
height: 100vh;
width: 100vw;
}

.legal_notice_sidebar {
    padding: 10px;
    background-color: #2A3647;
    border-radius: 20px 0px 20px 20px;
    position: fixed;
    right: 9px;
    top: 62px;
    animation: move-from-right-to-screen 1000ms ease forwards;
}

.legal_notice_button {
    padding: 10px;
    color: rgb(205,205,205);
    cursor: pointer;
}

@keyframes move-from-right-to-screen {
    from {
        margin-right: -1500px;
    }
    to {
        margin-right: 0;
    }
}