
/* Global styles */

body {
    margin: 0;
    background: #F6F7F8;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.d-none {
    display: none;
}

h1 {
    color: var(--Ligth-blue, #29ABE2);
    font-size: 47px;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: #2A3647;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

h3 {
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

h4 {
    color: #2A3647;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.anchor-style {
    color: black;
    text-decoration: none;
}