<header>
    <img class="logo mobile" src="/assets/img/join-logo.svg" alt="Join Logo">
    <h4 class="desktop">Kanban Project Management Tool</h4>
    <div class="help-and-user-icons">
        <img class="help" src="./assets/img/help_icon.svg" alt="">
        <img onclick="openLegalNoticeSidebar()" class="user" src="./assets/img/user_profile.svg" alt="User Profile">
    </div>

    <div onclick="moveLegalNoticeSidebarFromScreenToRight()" id="legal_notice_sidebar_screen" class="legal_notice_sidebar_screen d-none">
        <div id="legal_notice_sidebar" class="legal_notice_sidebar">
            <div class="legal_notice_button" onclick="openLegalNotice()">Legal Notice</div>
            <div class="legal_notice_button" onclick="openPrivacyPolicy()">Privacy Policy</div>
            <div class="legal_notice_button" onclick="openHelp()">Help</div>
            <div class="legal_notice_button" href=".../index.html">Log out</div>
        </div>
    </div>
</header>