<menu>
  <div class="menu-tab">
    <a href="summary.html"><img src="/assets/img/menu_icons_summary.svg"></a>
    <span>Summary</span>
  </div>
  <div class="menu-tab">
    <a href="board.html"><img src="/assets/img/menu_icon_board.svg"></a>
    <span>Board</span>
  </div>
  <div class="menu-tab">
    <a href="add_task.html"><img src="/assets/img/menu_icon_add_task.svg"></a>
    <span>Add Tasks</span>
  </div>
  <div class="menu-tab">
    <a href="contacts.html"><img src="/assets/img/menu_icon_contacts.svg"></a>
    <span>Contacts</span>
  </div>
</menu>
