<div class="content">
    <header>
        <img class="logo" src="/assets/img/mobile-logo.svg" alt="Join Logo">
        <img class="user" src="/assets/img/user_profile.svg" alt="User Profile">
    </header>

    <menu>
        <div class="menuTab">
            <img src="/assets/img/menu_icons_summary.svg" alt="">
            <span>Summary</span>
        </div>
        <div class="menuTab">
            <img src="/assets/img/menu_icon_board.svg" alt="">
            <span>Board</span>
        </div>
        <div class="menuTab">
            <img src="/assets/img/menu_icon_add_task.svg" alt="">
            <span>Add Tasks</span>
        </div>
        <div class="menuTab">
            <img src="/assets/img/menu_icon_contacts.svg" alt="">
            <span>Contacts</span>
        </div>
    </menu>
</div>